html {
    scroll-padding-top: 140px;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: 600;
}

.nav-bar-logo-a {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}

.navbar-overlay {
    height: 5.6em
}

.navbar {
    background-color: #391a9ebd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.container-fluid button {
    background-color: white;
}

.navbar-nav a {
    width: 100%;
    margin: 5px 0;
    padding-left: 15px;
    font-weight: 400;
    color: white !important;
}

.navbar-nav a:hover {
    width: 100%;
    border-radius: 5px;
    color: rgb(3, 3, 36) !important;
    background-color: rgb(255, 248, 248);
}

.navbar-btn-ingresar {
    border-radius: 9px;
    padding: 8px;
    z-index: 999;
    font-weight: 500;
    color: rgb(118, 90, 160);
    background-color: #ffffff;
}

.navbar-btn-ingresar:hover {
    background-color: #8a9090;
    color: rgb(255, 255, 255);
}

.modal-backdrop {
    z-index: 99;
}

.modal {
    z-index: 1050 !important;
}

/* CAROUSEL */
.carousel {
    margin-top: 0;
    padding-top: 0;
}

.carousel-item img {
    max-height: 650px;
    width: 100%;
    object-fit: cover;
    filter: brightness(82%);
}

.carousel-control-prev,
.carousel-control-next {
    transition: 0.5s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.272);
    transition: 0.5s;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 40px;
    width: 40px;
    transition: 0.4s;
}


/* TARJETAS 1*/
.list-group .list-group-item {
    border: none;
}


.container-acerca-button-info {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.container-acerca-button-info-btn {
    width: 80%;
    height: 30%;
}

/* TARGET 2 */
.target-2-sect {
    flex-wrap: wrap;
}

.col-card-section-2 {
    display: flex;
    justify-content: center;
}

.card-section-2 {
    box-shadow: 5px 10px 10px 2px rgba(0, 0, 0, 0.796);
    margin-top: 8px;
    background-color: rgb(122, 35, 172);
    border: none;
    transition: 0.3s;
}

.card-section-2:hover {
    transform: scale(1.05) perspective(1000px) rotateY(10deg);
    transition: 0.3s;
}

.section2-card-img {
    filter: brightness(95%);
}

.btn-custom-width {
    width: 70%;
    border: none;
    background-color: rgb(203, 105, 105);
}

/* Tarjetas 3 */
.targets-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: rgba(211, 211, 211, 0.271);
}


.targets-section-3 h2 {
    text-align: center;
    width: 100%;
}

.section3-card-equipo-img img {
    background-color: #0e0e0e;
    height: 100%;
    object-fit: cover;
}

.icon-yellow {
    color: yellow;
    position: relative;
    filter: drop-shadow(0 0 0.5px black) drop-shadow(0 0 0px black);

}

.bi-icon-quote-size {
    font-size: 20px;
    color: rgb(72, 72, 79);
}


/* CONTACT */
.contact-form {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 5px;
    background: #03012a12;
}

.contact-form .form-control {
    border-radius: 0.5rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    width: 5rem;
    margin-top: -6%;
    border-radius: 6rem;
    transform: rotate(29deg);
    transition: all 0.3s;

}

.contact-image img:hover {
    transform: rotate(0deg);
    transition: all 0.3s;
}


.contact-form form {
    padding: 8%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0e0e0e;
}

.contact-form .btnContact {
    width: 6rem;
    padding: 2%;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    color: #ffffff;
    background: #18119e9b;
    cursor: pointer;
    transition: all 0.3s;
}

.contact-form .btnContact:hover {
    background: #18119eb5;
    transition: all 0.3s;
}

.form-group input {
    margin-bottom: 20px;
}

/* FOOTER */
.container-footer {
    background-color: #6C55B7;
    transition: all 0.2s;
    font-size: 1rem;
    bottom: 0;
    width: 100%;
}

.container-footer .text-white:hover {
    color: rgb(227, 216, 216) !important;
    transition: all 0.2s;
}

/* Responsive */
@media (max-width: 1050px) {
    .carousel-item img {
        height: 500px;
    }
}

@media (max-width: 750px) {
    .carousel-item img {
        height: 300px;
    }


}